* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
h1,h2 {
    text-align: center;
}
h2 {
    margin-top: 12px;
}
main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}
ul {
    border: 1px solid black;
    padding: 8px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

li {
    border: 1px solid dimgray;
    padding: 4px;
}