* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
h1 {
    text-align: center;
    padding: 12px 0;
}
main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}