#usersList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
li {
    border: 1px solid gray;
    padding: 8px;
    border-radius: 4px;
}
.userInfo {
    margin-bottom: 4px;
    font-weight: bold;
}
