@media screen and (min-width: 768px) and (max-width: 1024px) {
/*    actions*/
    #pairListActions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #pairListContainer {
        flex-direction: column;
    }
    ul {
        max-height: 40vh;
    }
}